/* .loginTextField.css-1cjo1zs-MuiFormControl-root-MuiTextField-root input {
  color: "white" !important;
  opacity: 1
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  color: "white";
  opacity: 1;
}

.css-fe8sxz-MuiFormControl-root-MuiTextField-root .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  color: #FFFFFF;
  opacity: 1
} */
/* .loginBoxImg {
  background-image: "Url(.public/back2 1(1).jpg)"
} */