

.contactTextarea {
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 1em;
  border-radius: 0;
  border: 1px solid #9D9D9D
}

.contactEmail.css-1ilbdbv-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 0;
}

.contactEmail .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  /*  */
  padding: 1em;
}